<head>
    <title>Camera VR</title>
</head>

<video playsinline webkit-playsinline muted loop autoplay id='video' src='/public/video.mp4' style="position: absolute; z-index: 100; width: 1px; height: 1px;"></video>

<div id="app"></div>
<div id="screen" style="position: absolute; z-index: 200;"></div> 